/* REsponsive break point  */
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   
} 
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }


@media (max-width: 575.98px) {  }

@media (max-width: 767.98px) {  }

@media (max-width: 991.98px) {  }
@media (max-width: 1199.98px) {  }




/* for max and min width  */

@media (max-width: 575.98px) {
  
    .mybtn {
        
        margin-top: 30%;
     }

     .languageselector {
        position: absolute;
        top: 5%;
        left: 46%;
        transform: translate(-50%, -50%);
      }
      
      .map{
        
        margin-left:20%;
        width: 50%;
      }  
      #serch{
        top: 20%;
        margin-left: 18%;
      }  

      .footer_half_black {
        background: rgba(0, 0, 0, 0.7);
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        
        margin-top: -75%;
      }
      .footer_detail
      {
       text-align: center;
      }

      /* weather  */
.weather{
  margin-top:12%;
}

/* weather header  */
.weather_header {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
}
/* weather details table  */

.table{
  position: absolute;
  top: 47%;
  left: 8%;
  color: white;
  width: 68%;
}

/*  weather details link  */
.weather_detail_link
{
  position: absolute;
  top: 70%;
  left: 13%;
  color: white;
  width: 80%;
}
  }

        

@media (min-width: 576px) and (max-width: 767.98px) { 
    
     

 }

@media (min-width: 768px) and (max-width: 991.98px) {  }

@media (min-width: 992px) and (max-width: 1199.98px) {  }

@media (min-width: 1200px) {  }