body
{
  width: 100%;
  background-color: whitesmoke;
}
.languageselector {
  position: absolute;
  top: 5%;
  left: 60%;
  transform: translate(-50%, -50%);
}

  .map{
    margin:5px;

  }
  .s_language{
    margin: 5px;
  }
  .btn:hover {
    background-color: #ff4d4d

  }
  
  #serch{
    top: 8%;
  }

  .test{
    position: absolute;
    top: 15%;
    margin-left:3%;
  }
/* main title design  */
  .main_title{
    position: relative;
    margin: 0 0 24px 0;
    padding: 0 30px 24px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  li a {
    font-size: 13px;
    color: #ff4d4d;
  }
  h6 a{
    font-size: small;
    font-weight: bold;
    color: black;
  }

  h3{
    padding-top: 3%;
    margin-left: 3%;
  }

  .post_link {
    display: block;
    height: 160px;
    background-size: cover;
    background-position: center 0;
}
.post_title{
  color: #ff4d4d;
}

.container .news_title_for_notice a{
color: #ff4d4d;
padding-bottom: 1rem;
font-size: small;
font-weight: bold;
}
.notice_heading{
  padding-top: 1rem;
  
}

#more_notice
{
  padding-bottom: 1rem;
}

.intersting_places{
  padding-top: 1rem;
}

/* button  */

.mybtn a {
  background-color: rgb(218, 63, 63);
  border: 1px solid white;
  width: 100%;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.mybtn a:hover {
  background-color: #ff0000;
  color: white;
}
.weather{
  margin-top:12%;
}

.weather_header {
  position: absolute;
  top: 41%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
}

.table{
  position: absolute;
  top: 43%;
  left: 13%;
  color: white;
  width: 80%;
}

.weather_detail_link
{
  position: absolute;
  top: 68%;
  left: 17%;
  color: white;
  width: 80%;
}
.date{
  font-size: 10px;

}

/* footer secton css code  */
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}