/* body part  */
body
{
  width: 100%;
  background-color: whitesmoke;
}
/* main logo title  */
.logo_title{
  font-family: 'Bad Script';
  font-size: 22px;
  font-weight: bolder;
  color: white;
  margin-left: 10%;

}
/* select your language  */
.languageselector {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.s_language{
  margin: 5px;
}

/* map section  */
  .map{
    margin:5px;

  }
/* all button design  */
  .btn:hover {
    background-color: #ff4d4d

  }

/* Secrch button of home page  */
  #serch{
    top: 8%;
    margin-right: 5%;
  }

/* main menu section  */
  .menu_main{
    position: absolute;
    top: 15%;
    margin-left:3%;
  }

/* main title design  */
  .main_title{
    position: relative;
    margin: 0 0 24px 0;
    padding: 0 30px 24px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

/* transparent the black colore  */
  .half_black {
    background: rgba(0, 0, 0, 0.6);
  }

  li a {
    font-size: 13px;
    color: #ff4d4d;
  }

  h6 a{
    font-size: small;
    font-weight: bold;
    color: black;
  }

  h3{
    padding-top: 3%;
    margin-left: 3%;
  }
  /* background section image  */
  .main_img
  {
          
      /* Add the blur effect */
      filter: blur(6px);
      -webkit-filter: blur(6px);
      
      /* Full height */
      height: 100%; 
      
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
  }

  /*virtical  button  for main menu */
.mybtn a {
  background-color: rgb(218, 63, 63);
  border: 1px solid white;
  width: 100%;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
}
/* verticale button heading  */
.mybtn a:hover {
  background-color: #ff0000;
  color: white;
}


/* post link  */
  .post_link {
    display: block;
    height: 160px;
    background-size: cover;
    background-position: center 0;
}
/* post title  */
.post_title{
  color: #ff4d4d;
}

/* notice title  */
.container .news_title_for_notice a{
color: #ff4d4d;
padding-bottom: 1rem;
font-size: small;
font-weight: bold;
}

/* notics heading  */
.notice_heading{
  padding-top: 1rem;
  
}

/* more notices   */
#more_notice
{
  padding-bottom: 1rem;
}

/* intersting places  */
.intersting_places{
  padding-top: 1rem;
}

/* weather result table  */
.table
{
width: 80%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }


tr th{
  color:white;
}


/* for only date  */
.date{
  font-size: 10px;

}

/* footer secton css code  */

/* footer optimntimize  and footer section design  */
.footer_half_black {
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 2%;
 margin-top: -25%;
}
.footer_detail
{
text-align: center;
}
/*  footer image blor  */


.footer_image
{
        
    /* Add the blur effect */
    filter: blur(6px);
    -webkit-filter: blur(6px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

/* link button colore  */
p a{
  color: #ff0000;
}
/* footer section upcomeing even design  */
.footer_upcoming_events
{
  /* font-size: smaller; */
  font-family: Arial, Helvetica, sans-serif;
}

/*  social media  */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

}
/* social media button hovar  */
.fa:hover {
    opacity: 0.5;
}

/* for facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*  for youtube */
.fa-youtube {
  background: #bb0000;
  color: white;

}
/* for twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* pepole baground  */

.People_details
{
  background-color: white;
 
}


